*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    height: 92px;
   width: 1600px;
    padding: 16px 120px;
   

}
nav .logo{
    width: 139px;

}
nav .menu{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 32px;


}
nav .menu a{
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}
nav .btn{
    padding: 12px 16px;

    
}
nav .nav-btn{
    
    border: none;
    border-radius: 4px;
    background-color: #30B868;
    color: #FFFFFF ;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    width: 164px;
    height: 44px;
    gap: 10px;

}
header{
    width:1600px;
    max-height: 674px;
    background-image: url(../assets/hero-bg.png); 
}

#banner{
    padding: 70px 120px 134px 120px; 
    width: 1600px;
    height: 674px;
    
}
#banner .banner-section{
    
    width: 85%;
    max-width: 1360px;
    height: 379px;
     margin: 45.5px 120px  179.5px 120px;  
    gap: 32px; 
}
#banner .banner-content{
    margin: 0 auto;
    gap: 16px;
}
#banner .banner-content .badge{
    width:229px ; 
    height: 35px;
    border: none;
    border-radius: 1000px;
    padding: 8px 12px;
    
    background-color:rgba(251, 251, 251, 1);
    margin:0 auto 16px;
    display: flex;

}
#banner .banner-content .badge p{
     color: #30B868;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    gap: 6px;
}
#banner .banner-content .badge img{
    border-radius: 8px;
    width: 16px;
    height: 16px;
}
#banner .banner-content h1{
   opacity: 0.9; 
   color: #FFFFFF;
   font-size: 72px;
   font-weight: 700;
   width: 770px;
   height: 168px;
   line-height: 84px;
   margin: auto;
}

#banner .banner-content h1 .green{
    color: #30B868;
}
#banner .banner-content .banner-text{
   
     height: 60px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 16px;
    text-align: center; 
}
#banner .btn-sention{
    width: 465px;
    height: 52px;
    gap: 16px;
    display: flex;
    margin:32px auto;
    
    
}
#banner .btn-sention .p-btn{
 background-color: #30B868;
 width: 251px;
 height: 52px;
 padding: 12px 16px;
 align-items: center;
 font-size: 16px;
 font-weight: 600;
 line-height: 19px;
 color: #FFFFFF;
 gap: 10px;
 border-radius: 4px;
 border: none;
 display: flex;
}
#banner .btn-sention .s-btn{
    width: 198px;
    height: 52px;
    padding: 12px 16px;
    border-color: #FFFFFF;
    border-radius: 4px;
    color: #FFFFFF;
    background: none;
    font-size: 16px;
    font-weight: 600;
    gap: 8px;

    display: flex;
    align-items: center;
    line-height: 19px;
}  
#notes{
    width: 1600px;
    height: 448px;
    
    padding: 0 120px 120px 120px;
    text-align: center;

}
#notes .notes-section{
    width: 1360px;
    height: 136px;
    
    margin-bottom: 44px;
  
}
#notes .notes-section h2{
font-size: 48px;
font-weight: 700;
line-height: 58px;
color: #001931;
margin-bottom: 16px;

height: 116px;
display: flex;
flex-direction: column;
justify-content: end;
}
#notes .notes-section p{
    height: 20px;
   
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color:#627382 ;
}

#notes .notes-grid{
    display: flex;
    gap: 24px;
    width: 1360px;
    margin: 0 auto;
}
 #notes .notes-grid .note-card{
    
    height: 300px;
    max-width: 322px;
    padding: 24px;
    border-radius: 8px;
    color:#FFFFFF;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 8px 0 #000000b8;
    
     
} 

#notes .notes-grid .note-card .icons{
   max-width: 60px;
    height: 60px;
    background: rgb(249, 85, 85, 1);
    display: flex;
    align-items: center;
    justify-content: center; 
    border-radius: 50%;
    margin: 69.5px  auto 16px auto;
   
    
    
}
#notes .notes-grid .note-card .icons img{
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center; 
}

.note-card h3{
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    color: #001931;
    
}
.note-card p{
    margin-top:16px;
    font-size: 16px;
    color: #627382;
    line-height: 20px;
    height: 40px;
    
    
} 
#brain{
   display: flex;
   width: 1600px;
   
   height: 840px;
   padding: 120px;
   gap: 60px;

   
}
#brain .brain-img img{
    width: 600px;
    height: 600px;
   
}
#brain .brain-content{
    width: 700px;
    height: 396px;
    
    gap: 40px;
    margin: auto;
}
#brain .brain-content .brain-content-section{
   height: 228px;
   width: 700px; 
   
}
#brain .brain-content .brain-content-section .p{
     font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color:#30B868;
    height: 20px;
   width: 700px;
    margin-bottom: 16px;
    margin-left: 0; 
    text-align: left;
    
}
#brain .brain-content .brain-content-section h2{
   
    height: 116px;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    margin-bottom: 16px;
    color: #001931;
}
#brain .brain-content .brain-content-section .brain-description{

    height: 60px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color:#627382;
    text-align: left;
}
#brain .brain-content .menu{
    height: 128px;
    
    margin-top: 40px;
}
#brain .brain-content .menu .a{
    height: 20px;
    
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    gap: 6px;
}
#brain .brain-content .menu .a img{
    width: 20px;
    height: 20px;
}
#brain .brain-content .menu .a p{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #001931;
}
#cta{
   margin-top: 2px;
   
   height: 506px;
   width: 1600px;
   padding: 2px 120px 120px 120px; 
}
#cta .cta-section{
    padding: 80px 40px;
    
    width: 1360px;
    height: 384px;
}
#cta .cta-section .cta-content{

    width: 1280px;
    height: 112px;


}
#cta .cta-section .cta-content h2{
    font-size: 40px;
    font-weight: 700px;
    line-height: 48px;
    text-align: center;
    color:#001931 ;
    margin-bottom: 16px;
}
#cta .cta-section  p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #627382 ;
    height: 48;
    text-align: center;
}
#cta .cta-section .cta-btn{
    height: 88px;
    

}
#cta .cta-section .cta-btn .p-btn{
background-color: #30B868;
color: #FFFFFF;
 width: 194px;
 height: 52px;
 padding: 12px 16px;
 text-align: center;
 font-size: 16px;
 font-weight: 600;
 line-height: 19px;
 padding: 16px;
 gap: 10px;
 border-radius: 4px;
 border: none;
 display: flex;
margin: 0 auto 16px;
}
.footer-section{
    width: 1600px;
    height: 348px;
    padding: 120px 120px 30px 120px;
    background-color: #001931;

    
}
.footer-section hr{
    margin: 30px 0 ;
    border-color: #244157;
}
.footer-content{
    width: 1360px;

    height: 64px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
.footer-content .footer-logo{
    max-width: 350px;
    height: 60px;
}
.footer-content .footer-logo img{
    max-width: 139px;
    height: 60px;
}
.socail{
    width: 220px;
    height: 64px;
    
}
.socail h2{
font-size: 20px;
font-weight: 500;
line-height: 28px;
color: rgba(251, 251, 251, 1);
margin-bottom: 16px;
}


.socail .links{
    display: flex;
    gap: 16px;
    margin-bottom: 0;
}
.socail .links .icons{
    width: 20px;
    height: 20px;
}

    


.line{
    height: 1px;
    width: 1360px;
    background: 255, 255 ,255, 0.15;
}
 p{
    color: rgba(251, 251, 251, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}









 


