*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    border: 1PX solid red;
    width: 100%;
    max-width: 1600px;
    padding: 16px 120px;

}
nav .logo{
    width: 139px;

}
nav .menu{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 32px;


}
nav .menu a{
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}
nav .btn{
    padding: 12px 16px;

    
}
nav .nav-btn{
    
    border: none;
    border-radius: 4px;
    background-color: #30B868;
    color: #FFFFFF ;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    width: 164px;
    height: 44px;
    gap: 10px;

}