*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    border: 1PX solid red;
    width: 1600px;
    padding: 16px 120px;

}
nav .logo{
    width: 139px;

}
nav .menu{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 32px;


}
nav .menu a{
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}
nav .btn{
    padding: 12px 16px;

    
}
nav .nav-btn{
    
    border: none;
    border-radius: 4px;
    background-color: #30B868;
    color: #FFFFFF ;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    width: 164px;
    height: 44px;
    gap: 10px;

}
#banner{
    background-image: url(../assets/hero-bg.png);
    margin: 0 auto;
    border: 1px solid red;
    
    width: 1600px;
    height: 674px;
    /* padding: 70px 120px 134px 120px; */
}
#banner .banner-section{
    border: 1px solid red;
    width: 85%;
    max-width: 1360px;
    height: 379px;
    margin: 115.5px 120px  179.5px 120px;



}
#banner .banner-content{
    border: 1px solid red;
    height: 295px;
    text-align: center;
    gap: 16px;
}
#banner .banner-content .badge{
   width:229px ; 
   
    height: 35px;
    border: none;
    border-radius: 1000px;
    padding: 8px 12px;
    border: 1px solid red;
    background-color: #FFFFFF;
    margin:0 565.5px 16px;
    display: flex;

}
#banner .banner-content .badge p{
     color: #30B868;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    gap: 6px;
}
#banner .banner-content .badge img{
    border-radius: 8px;
    width: 16px;
    height: 16px;
}
#banner .banner-content h1{
   opacity: 0.9; 
   color: #FFFFFF;
   font-size: 72px;
   font-weight: 700;
   width: 770px;
   height: 168px;
   line-height: 84px;
   letter-spacing: 0%;
   margin-top: 16px;
   margin-left: 295px;
border: 1px solid red;
}
#banner .banner-content h1 .green{
    color: #30B868;
}
#banner .banner-content .banner-text{
    border: 1px solid red;
    height: 60px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 16px;
    width: 1360px;
}
#banner .btn-sention{
    width: 465px;
    height: 52px;
    border: 1px solid red;
    gap: 16px;
    display: flex;
    align-items: center;
    margin:32px 447.5px;
    
    
}
#banner .btn-sention .p-btn{
 background-color: #30B868;
 width: 251px;
 height: 52px;
 padding: 12px 16px;
 align-items: center;
 font-size: 16px;
 font-weight: 600;
 line-height: 19px;
 color: #FFFFFF;
 gap: 10px;
 border-radius: 4px;
 border: none;
 display: flex;
}
#banner .btn-sention .s-btn{
    width: 198px;
    height: 52px;
    padding: 12px 16px;
    border-color: #FFFFFF;
    border-radius: 4px;
    color: #FFFFFF;
    background: none;
    font-size: 16px;
    font-weight: 600;
    gap: 8px;

    display: flex;
    align-items: center;
    line-height: 19px;
} 
 


